.certificateAchievements {
  padding: 40px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5px;
}
.certificateAchievementsTitle {
  font-weight: bold;
  font-size: 24px;
}
.certificateAchievements .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

