.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.PersonalDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 40px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-bottom: 5px;
}
.personalDetailsTitle {
  font-weight: bold;
  font-size: 24px;
}
