.ProjectsCvTitle {
  border-bottom: solid 1px;
  padding-bottom: 3px;
  margin-bottom: 2px;
}
.ProjectsCvTitleRest {
  font-size: 12px;
}
.projectHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  font-size: 14px;
}
.projectNameCV {
  text-decoration: underline;
}
.projectLeft {
  display: flex;
  gap: 5px;
  font-weight: 600;
}
