.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  margin-bottom: 5px;
}
.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.projectsTitle {
  font-weight: bold;
  font-size: 24px;
}
.projectSmallDetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}
.project {
  padding: 25px;
  border: 1px solid #efeff0;
  border-radius: 8px;
  position: relative;
}
.specialInput {
  width: 275px;
}
.specialDescription {
  width: 615px;
}
.trash {
  color: black;
}
.addProject {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  padding-left: 25px;
  cursor: pointer;
}
.addProject:hover {
  background-color: #f6faff;
}
.addProject button {
  background-color: white;
  border: 0;
  color: #448fed;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.project .quill {
  background-color: #efeff0;
  border-radius: 8px;
  width: 615px;
}
.project .dates input {
  width: 133px;
}
